{% extends 'base.html' %}

{% load static %}
{% block content %}




<main>
    

    <!-- account-area-start -->
    <div class="account-area mt-70 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="float:none;margin:auto;">
                    <div class="basic-login mb-50">
                        {% include 'include/alert.html' %}
                        <h5>Girmek</h5>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <label for="name">Telefon belgisini giriziň  <span>*</span></label>
                            <input  type="text"  name="phone_number">
                            <label for="pass">Пароль <span>*</span></label>
                            <input  type="password"  name="password">
                            
                            {% comment %} <a href="login.html" class="tp-in-btn w-100">log in</a> {% endcomment %}
                            <button type="submit" class="tp-in-btn w-100"> Girmek </button>
                        </form>
                        <a href="{% url 'register' %}" style="margin-top:2%" class="tp-in-btn w-100"> Täze akkaunt döret </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    

</main>
{% endblock %}

