{% extends 'base.html' %}

{% load static %}
{% block content %}

<main>


    <!-- account-area-start -->
    <div class="account-area mt-70 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="float:none;margin:auto;">
                    <div class="basic-login mb-50">
                        {% include 'include/alert.html' %}
                        <h5>Profil döretmek</h5>
                        <form action="{% url 'register_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="">Profil suraty</label>
                            <input type="file" name="profile_avatar" id="">
                            <label for="">Telefon belgisi</label>
                            <input type="text" name="user_name" value="{{request.user}}" id="">
                            <div class="form-group">
                                <label for=""> Salgysy</label>
                                <input type="text" name="address_line_1" id="">

                            </div>
                            <div class="form-group">
                                <label for=""> Salgysy (ätiýaçlyk)</label>
                                <input type="text" name="address_line_2" id="">

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Sebit</label>
                                    <input type="text" name="city" id="">

                                </div>
                                <div class="form-group col-md-12">
                                    <label>Şäher</label>
                                    <input type="text" name="state" id="">

                                </div>
                            </div>
                            <button type="submit" class="tp-in-btn w-100">Ýatda saklaň</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


</main>

{% endblock %}